.word-wrap {
    word-wrap: break-word;
}

textarea {
    margin-top: 30px;
    width: 500px;
    height: 100px;
}

#text-remaining {
    color: #2c3e50;
    text-underline: none;
}

#permanent_green {
    color: #27ae60;
}

#current_green {
    color: #27ae60;
    text-decoration-line: underline;
}

#current_red {
    background: cadetblue;
    text-decoration-line: underline;
}