/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.word-wrap {
    word-wrap: break-word;
    margin-left: 100px;
    margin-right: 100px;
}

textarea {
    margin-top: 30px;
    /* width: 500px; */
    height: 100px;
}

#text-remaining {
    position: relative;
    color: #2c3e50;
    text-underline: none;
    left: -.1em;
}

#permanent_green {
    color: #497AFF;
}

#current_green {
    color: #27ae60;
    display: inline;
    text-decoration-line: underline;
}

#cursor {
    position: relative;
    border-right: .1em solid #27ae60;
    left: -.1em;
}

#current_red {
    position: relative;
    background: red;
    text-decoration-line: underline;
    left: -.1em;
}

#wpm {
    font-size: x-large;
    font-weight: bold;
}

#text_area {
    font-weight: bold;
    text-align: start;
}

#caret {
    width: 2px;
    height: 1.5rem;
    text-align: center;
    position: absolute;
    background-color: #497AFF;
}
